<mat-stepper
  orientation="vertical"
  [selectedIndex]="currentStep()"
  (selectionChange)="onStepChange($event)"
  id="stepper-form-test"
>
  @for (step of steps(); track step.id) {
    <mat-step
      [attr.aria-label]="step.props.label"
      [completed]="isTouchedAndValid(step)"
      [hasError]="!isTouchedAndValid(step)"
    >

      <ng-template matStepLabel>
        <span [id]="'step-header-' + getStepId(step)">{{ step.props.label }}</span>
      </ng-template>

      <!-- Done (weird but its angular state "edit") -->
      <ng-template matStepperIcon="edit">
        <mat-icon id="step-valid">done</mat-icon>
      </ng-template>

      <!-- Error  -->
      <ng-template matStepperIcon="error">
        <mat-icon id="step-invalid">close</mat-icon>
      </ng-template>

      <!-- Active State/Default State-->
      <ng-template matStepperIcon="number" let-index="index">
        @if (isTouchedAndValid(steps()[index])) {
          <mat-icon
            id="step-valid-{{ step.fieldGroup[currentStep()].key }}"
          >done
          </mat-icon
          >
        }
        @if (steps()[index].formControl.touched && !isTouchedAndValid(steps()[index])) {
          <mat-icon
            id="step-invalid-{{ step.fieldGroup[currentStep()].key }}"
          >close
          </mat-icon
          >
        }

        @if (!steps()[index].formControl.touched && !isTouchedAndValid(steps()[index])) {
          <mat-icon id="step-default-{{ step.fieldGroup[currentStep()].key }}"
           />
        }
      </ng-template>
    </mat-step>
  }
</mat-stepper>
