<ng-template #progress>
  <h1 mat-dialog-title>Meldung wird gesendet</h1>
  <div
    mat-dialog-content
    class="d-flex flex-column flex-grow-1 justify-content-center align-items-center"
  >
    <mat-spinner></mat-spinner>
  </div>
</ng-template>

<ng-template #responseSuccess let-result="result">
  <h1 mat-dialog-title id="success-title">
    <mat-icon class="mr-3" id="icon-success">check_circle</mat-icon>
    {{ "Meldung wurde erfolgreich gesendet!" }}
  </h1>
  <div mat-dialog-content class="d-flex flex-column flex-grow-1">
    <p id="success-id">Meldungs-ID: {{ result.notificationId }}</p>
    <p id="success-timestamp">Datum: {{ result.timestamp }}</p>
    <p></p>
    <p id="success-result">
      Hier erhalten Sie Ihre Bestätigung:
      <a target="_blank" download="{{ fileName }}" [href]="pdfDownload"
      >Meldungsquittung (PDF)</a
      >
    </p>
    <p id="success-info">
      Bei fachlichen Fragen wenden Sie sich bitte an die DEMIS-Geschäftsstelle
      des Robert Koch-Instituts:
      <a [href]="'mailto:' + result.authorEmail">{{ result.authorEmail }}</a>
    </p>
  </div>
  <div mat-dialog-actions class="mt-3" align="end">
    <button
      class="btn style"
      mat-flat-button
      color="primary"
      id="btn-back-to-homepage"
      (click)=navigateToWelcomePage()
      mat-dialog-close
      cdkFocusInitial
    >
      Zur Startseite
    </button>
  </div>
</ng-template>

<ng-template #responseFail let-result="result">
  <h1 id="fail-title" mat-dialog-title>
    <mat-icon class="mr-3" id="icon-error">error</mat-icon>
    Meldung konnte nicht zugestellt werden!
  </h1>
  <div mat-dialog-content class="d-flex flex-column flex-grow-1 pb-1">
    <div id="fail-message">
      <p>{{ result.message }}</p>
    </div>

    <div>
      <mat-accordion>
        <mat-expansion-panel *ngIf="result.messageDetails">
          <mat-expansion-panel-header>
            <mat-panel-title> Mehr Details</mat-panel-title>
          </mat-expansion-panel-header>

          <p>
            <b id="fail-messagedetails">{{ result.messageDetails }}</b>
          </p>

          <div *ngIf="!!result.validationErrors">
            <table
              mat-table
              [dataSource]="result.validationErrors"
              class="mat-elevation-z8"
            >
              <ng-container matColumnDef="field">
                <th mat-header-cell *matHeaderCellDef>Field</th>
                <td id="table-field" mat-cell *matCellDef="let element">
                  {{ element.field }}
                </td>
              </ng-container>
              <ng-container matColumnDef="message" class="ml-3">
                <th mat-header-cell *matHeaderCellDef>Message</th>
                <td id="table-message" mat-cell *matCellDef="let element">
                  {{ element.message }}
                </td>
              </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
          </div>
        </mat-expansion-panel>
      </mat-accordion>
    </div>
  </div>
  <div mat-dialog-actions class="mt-3" align="end">
    <button mat-button class="btn style dark-color" id="btn-back-to-report" mat-dialog-close>
      Zurück zur Meldung
    </button>
  </div>
</ng-template>

<div id="submit-container" class="d-flex flex-column flex-grow-1">
  <ng-container
    *ngTemplateOutlet="activeTemplate; context: { result: result }"
  ></ng-container>
</div>
