<app-side-navigation-wrapper
  [currentStepHeadline]="field.fieldGroup[selectedIndex].props.label"
  [currentStep]="selectedIndex"
  [headline]="field.fieldGroup[selectedIndex].props.title"
  [maxNumberOfSteps]="field.fieldGroup.length"
  [model]="field.model"
  [steps]="field.fieldGroup"
>
  <mat-tab-group
    [selectedIndex]="selectedIndex"
    animationDuration="0000"
    class="mat-tab-container"
  >
    @for (tab of field.fieldGroup; track tab.id) {
      <mat-tab
        [label]="tab.props.label"
      >
        <gem-demis-max-height-content-container [elementSelectorsToSubtract]="['app-navbar', '#bedoccupancy-tab-headline', '#bedoccupancy-tab-section-header', '#bedoccupancy-actions-bar']">
          <formly-field [field]="tab"></formly-field>
        </gem-demis-max-height-content-container>
        <mat-toolbar id="bedoccupancy-actions-bar">
          <mat-toolbar-row>
            <div>
              @if (!$first) {
                <a fragment="{{ field.fieldGroup[selectedIndex].props.anchor }}" routerLink="./">
                  <button (click)="previousStep()" class="btn navigate--color style" id="btn-nav-action-back"
                          mat-button type="button">
                    <mat-icon class="btn__icon margin--right" fontIcon="arrow_back_ios"></mat-icon>
                    Zurück
                  </button>
                </a>
              }
            </div>
            <div>
              <div class="div display--flex">
                <div>
                  @if (!$last) {
                    <a
                      fragment="{{ field.fieldGroup[selectedIndex].props.anchor }}"
                      routerLink="./"
                    >
                      <button (click)="nextStep()"
                              class="btn navigate--color style forward" id="btn-nav-action-next"
                              mat-button type="button">
                        Weiter
                        <mat-icon class="btn__icon margin-left" fontIcon="arrow_forward_ios" iconPositionEnd></mat-icon>
                      </button>
                    </a>
                  }
                </div>
                <div class="div margin--left">
                  <button [disabled]="!form.valid" class="btn style dark--color" id="btn-send-notification"
                          mat-button type="submit">
                    Abschicken
                    <mat-icon class="btn__icon margin--left rotate" fontIcon="send" iconPositionEnd></mat-icon>
                  </button>
                </div>
              </div>
            </div>
          </mat-toolbar-row>
        </mat-toolbar>
      </mat-tab>
    }
  </mat-tab-group>
</app-side-navigation-wrapper>
