:host ::ng-deep {
  .info-notification-text {
    display: inline-flex;
    align-items: flex-start;
    gap: 4px;
    margin-bottom: 8px;

    //needs extra override because attention-icon has margin-top 4px for two-lines text
    span.message {
      padding-top: 8px;
    }
  }

  formly-group.row formly-field formly-wrapper-mat-form-field mat-form-field {
    margin-bottom: 10px;
  }
}
