<div class="d-flex flex-column" id="error-container">
  <h1 mat-dialog-title id="error-title">
    <mat-icon class="mr-3" id="icon-error">error</mat-icon>
    {{ error.title }}
  </h1>

  <div
    *ngIf="!isError(error.type!)"
    mat-dialog-content
    class="d-flex flex-column flex-grow-1 pb-1"
  >
    <h4 id="warning-message">{{ error.message }}</h4>
    <div id="warning-messagedetails" [innerHTML]="error.messageDetails"></div>
  </div>
  <div
    *ngIf="isError(error.type!)"
    mat-dialog-content
    class="d-flex flex-column flex-grow-1 pb-1"
  >
    <h4 id="error-message">{{ error.message }}</h4>

    <mat-accordion *ngIf="error.messageDetails">
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title id="details"> Mehr Details</mat-panel-title>
        </mat-expansion-panel-header>

        <div mat-dialog-content>
          <div
            id="error-messagedetails"
            [innerHTML]="error.messageDetails"
          ></div>
        </div>

        <div *ngIf="!!error.validationErrors">
          <table
            mat-table
            [dataSource]="error.validationErrors"
            class="mat-elevation-z8"
          >
            <ng-container matColumnDef="field">
              <th mat-header-cell *matHeaderCellDef>Field</th>
              <td mat-cell *matCellDef="let element">{{ element.field }}</td>
            </ng-container>
            <ng-container matColumnDef="message" class="ml-3">
              <th mat-header-cell *matHeaderCellDef>Message</th>
              <td mat-cell *matCellDef="let element">{{ element.message }}</td>
              <th mat-header-cell *matHeaderCellDef>Field</th>
              <td mat-cell *matCellDef="let element">{{ element.field }}</td>
            </ng-container>
            <ng-container matColumnDef="message" class="ml-3">
              <th mat-header-cell *matHeaderCellDef>Message</th>
              <td mat-cell *matCellDef="let element">{{ element.message }}</td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
          </table>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>

  <div mat-dialog-actions class="mt-auto">
    <button
      mat-button
      class="btn style dark-color"
      id="btn-conf-dialog-no"
      [mat-dialog-close]="false"
      [routerLink]="error?.actions[0]?.value === 'close' ? null : ['/']"
    >
      <h4 id="error-button">{{ error?.actions[0]?.label }}</h4>
    </button>
  </div>
</div>
