.notification-tree-invisible {
  display: none;
}

.active-link {
  font-weight: bold;
  font-size: 18px;

}

.notification-tree {
  ul,
  li {
    list-style-type: none;
    margin-bottom: 0;
    margin-top: 0;
  }
}

.mat-tree-node {
  font-size: 16px;
  min-height: 30px;

  a {
    text-decoration: none;
  }
}

.small-tree-icon {
  font-size: 15px;
}

.tree-icon {
  font-size: 24px;
}
