<!--ng-template #linkNode let-node="node">
  <a
    [id]="setIdName('a', node.link)"
    [routerLink]="[node.link]"
    routerLinkActive="active-link"
    [class]="node.disabled ? 'disabled' : 'enabled'">
    {{ node.name }}
  </a>
</ng-template>

<ng-template #displayNode let-node="node">
  <em [id]="setIdName('a', node.link)">{{ node.name }}</em>
</ng-template>

<mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="notification-tree pt-2">
  <mat-tree-node
    *matTreeNodeDef="let node"
    [id]="setIdName('tree-node', node.link)"
    [ngClass]="isActiveLink(node.link) ? 'active-node ' + node.link : 'inactive-node ' + node.link"
    matTreeNodePadding="0"
    matTreeNodePaddingIndent="20">
    <button disabled mat-icon-button></button>
    <mat-icon
      [id]="setIdName('icon-' + node.invalid ? 'invalid-node' : 'valid-node', node.link)"
      [ngClass]="['tree-icon', 'mr-2', node.invalid ? 'invalid-node' : 'valid-node']"
      [svgIcon]="node.invalid ? 'circle-dash' : 'checkmark-outline'">
    </mat-icon>
    <ng-container
      *ngTemplateOutlet="node.link ? linkNode : displayNode; context: { node: node }"></ng-container>
  </mat-tree-node>

  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    [id]="setIdName('tree-node', node.link)"
    [ngClass]="
      (!treeControl.isExpanded(node) && isChildActive(node)) || (node.link && isActiveLink(node.link))
        ? 'active-node ' + node.link
        : 'inactive-node ' + node.link
    "
    matTreeNodePadding="0"
    matTreeNodePaddingIndent="20">
    <button
      [attr.aria-label]="'toggle ' + node.name"
      [id]="setIdName('btn', node.link)"
      mat-icon-button
      matTreeNodeToggle>
      <mat-icon
        [id]="setIdName('icon-' + node.invalid ? 'invalid-node' : 'valid-node', node.link)"
        class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <mat-icon
      [id]="setIdName('icon-' + node.invalid ? 'invalid-node' : 'valid-node', node.link)"
      [ngClass]="['tree-icon', 'mr-2', node.invalid ? 'invalid-node' : 'valid-node']"
      [svgIcon]="node.invalid ? 'circle-dash' : 'checkmark-outline'">
    </mat-icon>
    <ng-container
      *ngTemplateOutlet="node.link ? linkNode : displayNode; context: { node: node }"></ng-container>
  </mat-tree-node>
</mat-tree-->
