<ng-template #content>
  <div id="bed-occupancy-question-section-header" class="section-header-headline">
    <gem-demis-section-header id="bed-occupancy-question-headline"
                              [level]="1"
                              [titleText]="BedOccupancyConstants.BETTENBELEGUNG"/>
  </div>
  <formly-form [form]="notificationService.bedOccupancyQuestionGroup"
               [model]="notificationService.bedOccupancyQuestionModel()"
               [fields]="fieldConfig"/>
</ng-template>

<ng-template #actionsLeft>
  <button mat-stroked-button (click)="navigation.previous()" [disabled]="!navigation.canGoToPrevious()"
          class="btn navigate--color style" id="btn-nav-action-back"
          mat-button type="button">
    <mat-icon class="btn__icon margin--right" fontIcon="arrow_back_ios" aria-hidden="true"/>
    Zurück
  </button>
</ng-template>

<ng-template #actionsRight>
  <button class="btn style dark--color" id="btn-send-notification"
          mat-button type="submit" (click)="notificationService.sendData()"
          [disabled]="!notificationService.isFormValid()">
    Abschicken
    <mat-icon class="btn__icon margin--left rotate" fontIcon="send" iconPositionEnd aria-hidden="true"/>
  </button>
</ng-template>

@if (isPortalBedOccupancySidenavEnabled) {
  <ng-container *ngTemplateOutlet="content"></ng-container>
}
@else {
  <gem-demis-max-height-content-container [elementSelectorsToSubtract]="['app-navbar', '#bedoccupancy-actions-bar']">
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </gem-demis-max-height-content-container>

  <mat-toolbar id="bedoccupancy-actions-bar" aria-label="Formularaktionen">
    <mat-toolbar-row>
      <div>
        <ng-container *ngTemplateOutlet="actionsLeft"></ng-container>
      </div>
      <div>
        <ng-container *ngTemplateOutlet="actionsRight"></ng-container>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
}
