.tabs-navigation {
  width: 25vw;
  padding: 20px;
}

:host ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .info-tile-container {
  display: flex;
  flex: 1;
}

.side-menu-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.side-menu-content {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

.section-body {
  padding: 0 20px;
}

.section-header {
  padding: 45px 20px 20px;
}

//remove when FEATURE_FLAG_PORTAL_PAGE_STRUCTURE is removed
.section-header_deprecated {
  padding: 20px;
  display: flex;
  flex-direction: row;
  align-content: center;
  align-items: flex-start;
  justify-content: space-between;
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
}


//remove when FEATURE_FLAG_PORTAL_PAGE_STRUCTURE is removed
.oval-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  text-align: center;
  font-size: 14px;
  overflow: hidden;
  border: 1px solid #000;
  padding: 0.2rem 0.5rem;
  color: #161616;
}
