.tabs-navigation {
  width: 25vw;
  padding: 20px;
}

:host ::ng-deep .mat-drawer-inner-container {
  display: flex;
  flex-direction: column;
}

:host ::ng-deep .info-tile-container {
  display: flex;
  flex: 1;
}

.side-menu-layout {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.side-menu-content {
  flex: 1;
  overflow: auto;
  padding: 16px;
}

.section-body {
  padding: 0 20px;
}
