<gem-demis-tiled-content>
  <ng-container infoTile>
    <div class="side-menu-layout">
      <div class="side-menu-content">
        <app-side-navigation-stepper
          [steps]="steps()" [currentStep]="currentStep()">
        </app-side-navigation-stepper>
        <app-hexhexbutton
          (paste)="handleHexhexButtonClick()">
        </app-hexhexbutton>
        <gem-demis-paste-box
          (dataPasted)="onClipboardDataPasted($event)">
        </gem-demis-paste-box>
      </div>
      @if (FEATURE_FLAG_PORTAL_HEADER_FOOTER) {
        <gem-demis-forms-footer></gem-demis-forms-footer>
      }
    </div>
  </ng-container>
  <ng-container contentTile>
<!--  <ng-container contentTile>-->
    @if (FEATURE_FLAG_PORTAL_PAGE_STRUCTURE) {
      <div id="bedoccupancy-tab-section-header" class="section-header">
        <gem-demis-section-header
          id="bed-occupancy-tab-headline"
          [level]="1"
          [titleText]="currentStepHeadline()">
        </gem-demis-section-header>
      </div>
    } @else {
      <mat-toolbar id="bedoccupancy-tab-headline">{{ headline() }}</mat-toolbar>
      <div id="bedoccupancy-tab-section-header_deprecated" class="section-header_deprecated">
        <h1>{{ currentStepHeadline() }}</h1>
        <div class="oval-label">
          Schritt {{ currentStep() + 1 }} von {{ maxNumberOfSteps() }}
        </div>
      </div>
    }

    <div class="section-body">
      <ng-content></ng-content>
    </div>
  </ng-container>
</gem-demis-tiled-content>
