<gem-demis-tiled-content>
  <ng-container infoTile>
    <div class="side-menu-layout">
      <nav aria-label="Formularnavigation" class="side-menu-content">
        <app-side-navigation-stepper [steps]="steps()" [currentStep]="currentStep()" />
        <app-hexhexbutton (paste)="handleHexhexButtonClick()" />
        <gem-demis-paste-box (dataPasted)="onClipboardDataPasted($event)" />
      </nav>
      <gem-demis-forms-footer [featureFlagFooterLink]="FEATURE_FLAG_FOOTER_LINKS_CORRECTION"/>
    </div>
  </ng-container>
  <ng-container contentTile>
    <main>
      <div id="bedoccupancy-tab-section-header" class="bedoccupancy-section-header">
        <gem-demis-section-header id="bed-occupancy-tab-headline"
          [level]="1"
          [titleText]="currentStepHeadline()" />
      </div>

      <div class="section-body">
        <ng-content />
      </div>
    </main>
  </ng-container>
</gem-demis-tiled-content>
