<gem-demis-max-height-content-container [elementSelectorsToSubtract]="['app-navbar']">
  <gem-demis-side-navigation #sideNav sideNavTitle="Bettenbelegung" [stepsMap]="stepsMap()">
    <ng-template #sideNavSubtitle>
      <p>Meldung der Krankenhausbettenbelegung gemäß Infektionsschutzgesetz (§ 13 Abs. 7 IfSG)</p>
    </ng-template>
    <ng-template #additionalSideNavActions>
      <app-hexhexbutton (paste)="handleHexHexChange()" />
      <gem-demis-paste-box (dataPasted)="onClipboardDataPasted($event)" />
    </ng-template>
  </gem-demis-side-navigation>
</gem-demis-max-height-content-container>
