.oneTimeCode {
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  height: 0;
  width: 25%;
  z-index: -1;
}

button[mat-icon-button] {
  border: none;
  background-color: transparent;
}

#icon-success {
  color: #13c100;
  position: relative;
  padding-right: 5px
}

#icon-error {
  color: red;
  position: relative;
  top: 5px;
  padding-right: 5px;
}
